// Variables

// Main color
$primary-color: white;

// Anchor color
$secondary-color: #00cdff;

// Font color
$font-color: black;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: black;
$intro-text-color: white;
$navbar-color: white;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
